<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Danh sách user</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="">
                    <a class="btn btn-primary" (click)="reRender()">Reload</a>
                </div>
                <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="hide-no-data table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>UserName</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{ user.Id }}</td>
                            <td>{{ user.UserName }}</td>
                            <td>{{ user.Email }}</td>
                        </tr>
                        <tr *ngIf="users?.length == 0">
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>